<h2>Google Meet を使用するための要件</h2>

<h3>Google Meet のアクセス要件</h3>
<p>Google Meet を使用するには Google アカウントが必要です。</p>

<h4>仕事用または学校用 Google Workspace アカウントをご利用の場合:</h4>

Google Workspace 管理者が組織に対して Meet を有効にしている必要があります。Meet を開けない場合は、管理者の方にお問い合わせください。
ビデオ会議を作成するには、Google Workspace アカウントにログインする必要があります。
組織内外のすべてのユーザーがリンクを使用して参加できます。
<h3>Meet ビデオ通話には次のものが必要です。</h3>
<p>Meet モバイルアプリ、Gmail モバイルアプリ、サポート対象のウェブブラウザのいずれか。</p>
<p>システムの最小要件を満たしている対応デバイス。</p>
<p>サポート対象のオペレーティング システム。</p>
<p>インターネットへのブロードバンド接続。ネットワークを準備する方法をご確認ください。</p>
<p>内蔵のウェブカメラまたは外付けの USB カメラ。</p><br>

<h4>詳しくは、Google Meet ヘルプをご確認ください。</h4>

<%= link_to :back do %>
  <button>戻る</button>
<% end %>
