<caption>お気に入り一覧</caption>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>商品画像</th>
      <th>商品名</th>
      <th>商品価格</th>
    </tr>
  </thead>
  <tbody>
    <% @favorites.each do |favorite| %>
    <tr>
      <td text-align:center;><img height='80' src='<%= h favorite.picture %>'/></td>
      <td><%= favorite.name %></td>
      <td><%= favorite.price %>円</td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @favorites %>
