<h2>チャットでのお問い合わせ</h2>
<div class="panel panel-default">
  <div class="panel-heading"></div>
  <table class="table">
    <tr>
     <th>ユーザー</th>
     <th>メッセージ</th>
    </tr>
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
    <tr>
     <td><%= user.name %></td>
     <td><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %></td>
     <% if current_user.admin? %>
     <td><%= link_to "削除", user_path(user.id), method: :delete, class: 'btn btn-xs btn-default', data: { confirm: 'ユーザーを削除してよろしいですか？'}%></td>
     <% end %>
   </tr>
      <% end %>
    <% end %>
  </table>
</div>
<%= paginate @users %>
